h1{
    text-align: center;
}
p{
    font-size: 18px;
}
img{
    width: 20%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    float: right;
}
body{
    background-color:mediumspringgreen;
}
.kozepre{
    text-align: center;
}