body{
    background-color: aqua;
    
}
h2{
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    outline-width: medium;
}
p{
    text-align: justify;
}
div{
    text-align: right;
}