p{
    text-align: justify;
    padding-right: 500px;
    font-size: larger;
}
img{
    width: 700px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    float: right;
}
body{
    background-image: url(wood.jpg);
}